/*
==========
Global css styles
==========
*/
*{
  box-sizing: border-box;
}

html,body{
  font-family: "Nunito Sans", sans-serif;
  color: $mainGrey;
  height: 100%;
}


img{
  max-width: 100%;
  height: auto;
}
