/*
==========
styles for large hero banner
==========
*/
.large-hero{
  position: relative;

  &__image{
    display: block;
  }

  &__text-content{
    position: absolute;
    left: 12.5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 75%;
    background-color: rgba($mainGrey, .7);
    padding: 20px;
    @media screen and(min-width: 570px){
      width: 50%;
      left: 25%;
    }
  }

  &__text-box{
    border-bottom: 1px solid #CCC;
    display: inline-block;
  }

  &__title{
    color: #FFF;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0px;
    text-shadow: 1px 1px 1px #000;

    @media screen and (min-width: 570px){
      font-size: 4.8rem;
    }
  }

  &__subtitle{
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #000;
     @media screen and (min-width: 570px){
       font-size: 2.9rem;
     }
  }
}
