/*
==========
styles for large hero banner
==========
*/
.large-hero{
  position: relative;

  &__text-content{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-60%);
    text-align: center;
    width: 100%;
  }

  &__title{
    color: #FFF;
    max-width: 640px;
    padding: 15px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 3.2rem;
    text-shadow: 3px 3px 3px #000;
  }

  &__subtitle{
  color: #FFF;
  font-size: 2.9rem;
  text-shadow: 3px 3px 3px #000;
  margin-top: 0px;
  }
}
