.contact-container{
  width: 500px;
}

.site-contact-info{
  li{
    list-style: none;
  }
}
.site-form{
  &__form-row{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
  }

  &__form-row > label{
    padding: .5em 1em .5em 0;
    flex: 1;
  }

  &__form-row > input{
    flex: 2;
  }

  &__form-row > button{
    padding: 10px 20px;
    background-color: $mainGrey;
    color: #FFF;
    font-weight: 300;
    border: none;
    box-shadow: 1px 1px 1px $mainGrey;
  }
}
