.site-footer{
  background-color: $mainGrey;
  color: #fff;
  padding: .5rem 0;

  &--content{
    text-align: center;
  }

  &--contact{
    display: inline-block;
    padding-right: 12px;

    .fa-facebook-square,
    .fa-twitter-square{
      margin-left: 10px;
      color: #ccc;
    }
   a{
     color: #fff;
   }
  }

  &--text{
    display: block;
    margin-bottom: 1rem;
    font-weight: 300;
    text-align: center;
  }
}
