.site-form{
  margin: 20px 0;

  &--title,
  &--subtitle{
    text-align: center;
    margin: 20px 0;
    color: $darkGrey;
  }

  &--contact-form{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    textarea{
      height: 120px;
      resize: none;
    }
  }
  &--submit{
    width: 90px;
    height: 30px;
    border: none;
    background-color: $mainGrey;
    color: #fff;
  }

  &--submit:hover{
    background-color: #CCC;
    color: #000;
  }

  &--side-title{
    text-align: center;
    font-weight: bolder;
    color: $darkGrey;
  }

  &--side-content{
    color: $mainGrey;
    list-style: none;
    max-width: 450px;
    margin: 25px auto;
    padding: 0;


    li{
      margin-bottom: 10px;
    }
  }
}
